body{
    background-image: url('img/forms\ 3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
}
p{
    text-align: center;
}

.box{
    background-color: white;
    text-align: center;
    opacity: 40%;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2, h3, h4, h5{
    font-size: 17px;
}

textarea {
    width: 50%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=submit] {
    background-color:#4CF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
  